<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="../static/images/logo.jpeg" alt="Logo" class="logo-circle">
        </div>
        <ul class="nav-links">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/carbon-footprint">Carbon Footprint</a></li>
            <li><a href="/booking">Booking</a></li>
            <li><a href="/accessibility">Accessibility</a></li>
        </ul>
        <ul class="nav-right">
            {% if user_logged_in %}
                <li><a href="/profile">Profile</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="content">
        <h1>Welcome to</h1>
        <h2>ROLSA TECHNOLOGIES Eco Company</h2>
        <p>Inspiring the future of green energy.</p>
        <hr>
    </main>

    <h1>Our Products</h1>

    <section class="cards-container">
        <div class="card">
            <h1>Rolsa Solar <br/>Energy</h1>
            <img src="../static/images/solar.jpg" alt="Solar">
            <p>We offer a wide range of solar panel installation kits at Rolsa Technologies. Help make your home energy efficient.</p>
        </div>
        <div class="card">
            <h1>Rolsa EV Charging Stations</h1>
            <img src="../static/images/ev.jpg" alt="EV_Charging">
            <p>As well as for solar, we do electric vehicle charging stations across the country. Why us? Click the button below.</p>
            <a href="/products" class="btn-link">Find Out More</a>
        </div>
        <div class="card">
            <h1>Smart Home Energy Managment Systems</h1>
            <img src="../static/images/smarthome.webp" alt="Smart_Energy">
            <p>So you want to get the most out of your energy and find ways on how to reduce your energy consumption? Well, our smart home energy management systems are for you!</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Rolsa Technologies. All rights reserved.</p>
        <p>
          <a href="/terms">Terms &amp; Conditions</a> |
          <a href="/privacy">Privacy Policy</a> |
          <a href="/access">Accessibility</a>
        </p>
      </footer>
</body>
</html>
